In [1]:
import pandas as pd
from sqlalchemy import create_engine
from Config2 import user,password

ModuleNotFoundError: No module named 'Config2'

In [30]:

df=pd.read_csv("C:\\Users\\samantha.ettinger\\Downloads\\applemobilitytrends-2020-04-16.csv")
print(df)

           geo_type         region transportation_type  2020-01-13  \
0    country/region        Albania             driving         100
1    country/region        Albania             walking         100
2    country/region      Argentina             driving         100
3    country/region      Argentina             walking         100
4    country/region      Australia             driving         100
..              ...            ...                 ...         ...
390            city  Washington DC             transit         100
391            city  Washington DC             walking         100
392            city         Zurich             driving         100
393            city         Zurich             transit         100
394            city         Zurich             walking         100

     2020-01-14  2020-01-15  2020-01-16  2020-01-17  2020-01-18  2020-01-19  \
0         95.30      101.43       97.20      103.55      112.67      104.83
1        100.68       98.93       98.46      100.85      100.13       82.13
2         97.07      102.45      111.21      118.45      124.01       95.44
3         95.11      101.37      112.67      116.72      114.14       84.54
4        102.98      104.21      108.63      109.08       89.00       99.35
..          ...         ...         ...         ...         ...         ...
390      100.78      103.92      105.02      112.26       96.01       87.76
391       99.07      109.61      104.16      123.16      119.71      106.28
392      102.38      110.84      105.48      113.83      109.67      102.03
393      101.51      108.93       97.87      103.91       98.50       93.83
394      106.27      116.73      115.31      118.22      123.39       82.43

     ...  2020-04-07  2020-04-08  2020-04-09  2020-04-10  2020-04-11  \
0    ...       26.03       26.43       26.70       26.32       25.47
1    ...       25.80       29.81       28.96       27.29       27.63
2    ...       18.55       19.95       19.80       16.80       19.40
3    ...       13.49       15.51       14.65       13.58       15.75
4    ...       55.01       59.24       33.19       36.00       26.95
..   ...         ...         ...         ...         ...         ...
390  ...       17.59       18.79       16.92       17.76       16.99
391  ...       35.97       43.18       36.12       37.50       44.63
392  ...       69.43       71.98       69.31       61.38       63.78
393  ...       31.39       32.01       31.32       31.35       29.18
394  ...       67.26       70.26       69.66       70.73       71.63

     2020-04-12  2020-04-13  2020-04-14  2020-04-15  2020-04-16
0         24.89       32.64       31.43       30.67       30.00
1         29.59       35.52       38.08       35.48       39.15
2         12.89       21.10       22.29       23.55       24.40
3         10.45       16.35       16.66       17.42       18.18
4         31.72       53.14       55.91       56.56       58.77
..          ...         ...         ...         ...         ...
390       14.23       17.01       17.37       17.02       17.10
391       32.84       33.58       37.56       38.69       37.76
392       54.97       67.09       72.52       74.89       77.13
393       31.49       32.90       35.71       35.68       33.65
394       65.61       70.17       62.05       67.81       71.41

[395 rows x 98 columns]

In [31]:
df.head()

,geo_type,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,...,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16
0,country/region,Albania,driving,100,95.30,101.43,97.20,103.55,112.67,104.83,...,26.03,26.43,26.70,26.32,25.47,24.89,32.64,31.43,30.67,30.00
1,country/region,Albania,walking,100,100.68,98.93,98.46,100.85,100.13,82.13,...,25.80,29.81,28.96,27.29,27.63,29.59,35.52,38.08,35.48,39.15
2,country/region,Argentina,driving,100,97.07,102.45,111.21,118.45,124.01,95.44,...,18.55,19.95,19.80,16.80,19.40,12.89,21.10,22.29,23.55,24.40
3,country/region,Argentina,walking,100,95.11,101.37,112.67,116.72,114.14,84.54,...,13.49,15.51,14.65,13.58,15.75,10.45,16.35,16.66,17.42,18.18
4,country/region,Australia,driving,100,102.98,104.21,108.63,109.08,89.00,99.35,...,55.01,59.24,33.19,36.00,26.95,31.72,53.14,55.91,56.56,58.77

In [32]:
df.columns[3:]

Index(['2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17',
       '2020-01-18', '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
       '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11',
       '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
       '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
       '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02',
       '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
       '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
       '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
       '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06',
       '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16'],
      dtype='object')

In [33]:
final_list=[]
for col in df.columns[3:]:
    df_sub=df[['geo_type','region','transportation_type',col]]
    dt=[]
    for i in range(0,len(df_sub)):
        dt.append(col)

    df_sub['date']=dt
    #df_sub['date']=[col for i in range(0,len(df))]
    final_list.append(df_sub.rename(columns={col:'score'}))

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
final=pd.concat(final_list)

In [39]:

#import data to postgresql

In [40]:

rds_connection_string = f"{user}:{password}@localhost:5432/mobility_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [41]:
engine.table_names()

[]

In [42]:
final.to_sql(name='mobility', con=engine, if_exists='append', index=False)

In [20]:
# dt=[]
# for i in range(0,len(df_sub)):
#     dt.append('2020-01-13')

In [21]:
# df_sub['date']=dt

In [22]:
# df_sub.head()

In [23]:
# df_sub.rename(columns={'2020-01-13':'score'})